/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
	color: #4d4d4d;
	min-width: 230px;
	max-width: 1200px;
	margin: auto;
	padding: 0 60px 60px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.image {
	display: block;
	width: 50%;
	margin: 0 auto;
}

:global .image {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.image-bg {
	width: 100%;
	height: 200px;
	background: url('/assets/images/bg.jpg') 50% 50% no-repeat;
	background-size: cover;
}

:global .image-bg {
	width: 100%;
	height: 200px;
	background: url('/assets/images/bg.jpg') 50% 50% no-repeat;
	background-size: cover;
}
